@media only screen and (max-width: 768px) {

    ul.no-expanded li a {
        display: none;
    }

    ul.is-expanded li a {
        display: block;
        position: relative;
        margin: 0%;
    }
} 
