.navbar-container {
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1020;
    background: linear-gradient(359deg, rgba(255, 255, 255, 0) 0%, rgba(17, 18, 53, 0.105) 100%);
}

.navbar {
    justify-content: space-between;
    padding: 1rem 1.5rem;
    display: flex;
}

.band {
    font-weight: 800;
    font-size: 2.5rem;
    align-items: center;
    color: #51ced2;
    font-family: "Libre Barcode 128 Text", cursive;
}

nav {
    justify-content: center;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #51ced2;
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Crete Round", serif;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: #0b575a;
}

a.active {
    border-bottom: 3px solid #e6e6e6;
    padding-bottom: 0.3em;
}

.fa-bars {
    display: none;
    color: #51ced2;
}

@media only screen and (max-width: 580px) {
    .navbar-container {
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
    }

    ul.collapsed {
        position: absolute;
        display: flex;
        justify-content: center;
        margin: 0em;
        margin-top: 1em;
        width: 100vw;
        padding: 0%;
        right: 0;
        top: 3.2em;
    }

    .light {
        background: linear-gradient(178deg, #ffffff 0%, rgb(169 208 211) 100%);
    }

    .dark {
        background: linear-gradient(357deg, #07474a 0%, rgb(8 8 23) 100%);
    }

    ul.collapsed li {
        width: 100%;
    }

    ul.no-expanded li a {
        display: none;
    }

    ul.is-expanded li a {
        display: block;
        position: relative;
        margin: 0%;
        
    }

    ul.is-expanded.light li a {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.158);
    }

    /* ul.is-expanded.dark li a {
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.096);
    } */

    .fa-bars {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 1em;
        right: 1.5em;
        cursor: pointer;
    }

    ul li:hover {
        transform: scale(1);
        transition: 0.3s;
        color: #0b575a;
    }
}
