html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  margin: 0;
  width: 100%;
  max-width: 1800px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}


.flex{
  display: flex;
}

.container{
  width: 100%;
}

.col{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.marginTB {
  margin: 0.5rem 0;
}